/* This is for using the Google's material icons */


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: rgba(0, 0, 0, 0.26);
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  .material-icons:hover {
   
    color: rgba(0, 0, 0, 0.747);
  }
  .header
  {
      background-color: transparent;
      display: flex;
      flex-direction: row;
      /* justify-content: flex-end; */
      max-width: 100%;
      width: 100%;
      height: fit-content;
      column-gap: 20px;
      align-items: center;
      
  }
  .header-element
  {
      flex:0 0 auto; 

      
  }
  .header-end
  {
      flex: 0 0 auto;
      margin-left: auto;
      /* margin-right: auto; */
  }
  .github-icon
  {
     width: 36px;
     height: 100%;
      
  }
 .github-image
{
    height: 100%;
    width: 100%;
}
.github-image:hover
{
   box-shadow: 0 0 15px 5px rgb(187, 180, 180);

}
.google-image
{
   width: 100%;
   height: auto;
   

}
.main-page
{
    margin-right: auto;
    margin-left: auto;
    padding-top: 10%;
    width: 22%;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar
{
    margin:0 auto;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }
.search-bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
}
.search-box
{
    height:45px;
    border:none;
    width:500px;
    font-size:16px;
    outline: none;
    border-radius:30px;
}
.voice-box
{
    height:25px;
    border:none;
    width:500px;
    font-size:16px;
    margin-right: -140px;
    position: relative;
}
.search-magnifying
{
    padding-left: 7px;
}